@model Chat.Controllers.MessageViewModel
@{
    var textAligment = Model.IsOwnMessage ? "text-end" : "";
    var pos = Model.IsOwnMessage ? "justify-content-end" : "";
}
<div class="d-flex @pos">
    <div class="card @textAligment w-50">
        <div class="card-header">@Model.Username</div>
        <div class="card-body">@Model.Text</div>
        <div class="card-footer text-muted">@Model.Date</div>
    </div>
</div>