@model Chat.Controllers.ChatViewModel
@{
    ViewData["Title"] = "Chat page";
}

<h1>Hello @Model.Name</h1>
<h3>Welcome to the chat</h3>

<div id="messages" data-main="@Model.Name">
    @foreach (var message in Model.Messages)
    {
        @await Html.PartialAsync("_MessagePartial", message)
    }
</div>
<div id="chatbox" class="row ">
    <div class="col-10">
        <textarea class="form-control" id="chat_textarea" rows="3"></textarea>
    </div>
    <div class="col-2">
        <button type="submit" id="sendButton" class="btn btn-primary">Send</button>
    </div>
</div>

@section Scripts
{
    <script src="~/lib/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/js/chat.js" type="application/javascript"></script>
}